header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.contenido {
    padding-top: 80px;
}

#PT{
    display: none;
}

#RT{
    display: none;
}

#FT{
    display: none;
}

#PD{
    display: none;
}

#RD{
    display: none;
}

#FD{
    display: none;
}
