{% extends 'layout.html' %}
{% block body %} 

<div class="container pt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center text-success pt-4 pb-4"><strong>Laboratorio de datos epidemiológico en la nube</strong></h3>
            <p class="text-justify h5">
                <strong>LabMoiras</strong> <em class="text-primary">&#8212;</em> es un laboratorio de estimación de escenarios epidemiológicos en la nube que se basa es sistemas de múltiples partículas interactuantes. 
            </p>
            <p class="text-justify h5 pt-4">
                Por medio de complejos y precisos cálculos tomados de la termodinámica y la mecánica cuántica es capaz de emular la dinámica poblacional de 
                Santa Marta y predecir situaciones de contagio.
            </p>
            <p class="text-justify h5 pt-4 pb-4">
                Tiene como finalidad ayudar en la toma de decisiones a los expertos y directivos de la ciudad ante diversos escenarios de infección.
            </p>

            <h4 class="text-success pt-4"><strong>Integrantes</strong></h4>
            <p class="text-justify h5">
                Esta iniciativa está liderada por los grupos de investigación:
                <ul class="list">
                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002685" target="_blank" rel="noopener noreferrer" class="text-muted"><strong>GIEEP (Grupo de Investigación Evaluación y Ecología Pesquera)</strong></a></li>
                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002653" target="_blank" rel="noopener noreferrer" class="text-muted"><strong>CMT (Teoría de la Materia Condensada)</strong></a></li>
                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002680" target="_blank" rel="noopener noreferrer" class="text-muted"><strong>MAGMA Ingeniería (Matemática Aplicada a la Ingeniería)</strong></a></li>
                </ul>
            <p>

            <h4 class="text-success pt-4"><strong>Antes y ahora</strong></h4>
            <p class="text-justify h5">
                Hoy, en los días del COVID-19, es cuando más nos preocupamos por el destino de la humanidad, sin embargo, no es una preocupación de ahora, 
                desde antes, en la mitología griega <em>las Moiras</em> eran la personificación del destino, eran tres hermanas que por medio de una rueca 
                determinaban los aspectos de la existencia de una persona.
            </p>
            <p class="text-justify h5 pt-4">
                Es así como, la más joven hilaba la vida (dependiendo del material, el recién nacido tendría una vida desdichada o prospera, es decir, 
                hoy sería estar sano o infectado).
            </p>
            <p class="text-justify h5 pt-4">
                La segunda hermana, una mujer mayor, medía el hilo (esto determinaba el tiempo de vida de la persona, ósea, tiempo de incubación del virus).
            </p>
            <p class="text-justify h5 pt-4">
                Finalmente, la última hermana, una mujer anciana que cortaba el hilo (terminando con la existencia de la persona, sea mortal o incluso un dios, 
                tasa de mortalidad).
            </p>
            <p class="text-justify h5 pt-4">
                En la actualidad tenemos una gran ventaja, contamos con potentes herramientas de cómputo, que nos ayudan a resolver muchos problemas
                como realizar predicciones o estimaciones, las cuales ayudan al momento de realizar la toma de decisiones sobre el futuro de la población.
            </p>
        </div>
    </div>
</div>

{% endblock %}

