{% extends 'layout.html' %}
{% block body %}

<div class="container pt-4"> 
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-4 pb-4">
            <h2 class="text-center text-success">{{ titulo }}</h3>
            <div class="card {{ color }}"> 
                <div class="card-body"> 
                    <canvas id="{{ figura }}" width="800" height="400"></canvas>
                </div> 
            </div> 
        </div>
    </div>
</div>

<!-- Casos Positivos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Positivos totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(114,147,203,0.2)",
			borderColor: "rgba(57,106,177,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(57,106,177,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(57,106,177,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("totalesCasosPositivos").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Casos positivos acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo caso',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(114,147,203,0.2)",
			borderColor: "rgba(57,106,177,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(57,106,177,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(57,106,177,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("registrosCasosPositivos").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Casos positivos'
                    }
                }]
            },
        }
	});
</script>

<!-- Recuperados -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Recuperados totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(132,186,91,0.2)",
			borderColor: "rgba(62,150,81,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(62,150,81,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(62,150,81,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("recuperadosTotales").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de recuperación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Recuperados acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo recuperado',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(132,186,91,0.2)",
			borderColor: "rgba(62,150,81,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(62,150,81,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(62,150,81,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("recuperadosRegistros").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de recuperación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Recuperados'
                    }
                }]
            },
        }
	});
</script>

<!-- Fallecidos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Fallecidos totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(211,94,96,0.2)",
			borderColor: "rgba(204,37,41,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(204,37,41,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(204,37,41,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("fallecidosTotales").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de la muerte'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fallecidos acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in datos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo fallecido',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(211,94,96,0.2)",
			borderColor: "rgba(204,37,41,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(204,37,41,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(204,37,41,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in datos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("fallecidosRegistros").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de la muerte'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fallecidos'
                    }
                }]
            },
        }
	});
</script>

{% endblock %}
