{% extends 'layout.html' %}
{% block body %} 

<div class="contenido container pt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 h4">
            <p> Hola {{ nombre }}, </p><br>
            <p> 
                Estamos procesando su solicitud, en breve enviaremos al correo electrónico  {{ correo }}, la información requerida.
            <p><br>
            <p>
                Si no le llega nuestro mensaje en los siguientes 30 minutos, recuerde revisar en <strong>correo no deseado</strong> o la <strong>carpeta de spam</strong>.<br><br>
            </p>
            <em class="text-muted">"Contribuimos a seguir hilando el destino - LabMoiras"</em>
        </div>
    </div>
</div>

{% endblock %}
