{% extends 'layout.html' %}
{% block body %} 

<div class="contenido container pt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 h4">
            <p> Hola {{ nombre }}, </p><br>
            <p> 
                Muchas gracias por su mensaje.</br></br>
                Apreciamos su tiempo, sus comentarios, recomendaciones y sugerencias serán de mucha ayuda para mejorar a LabMoiras.
            <p><br>
            <em class="text-muted">"Contribuimos a seguir hilando el destino - LabMoiras"</em>
        </div>
    </div>
</div>

{% endblock %}
