{% extends 'layout.html' %}
{% block body %} 

<div class="contenido container pt-4 pb-4">
    <div class="row">
        <div class="col-md-4 offset-md-4 h4">
            <form class="pt-4" action="/contacto" method="post">
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Nombre</label>
                        <input class="form-control form-control-lg" type="text" name="nombre" placeholder="Nombre" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Correo</label>
                        <input class="form-control form-control-lg" type="email" name="correo" placeholder="email@ejemplo.com" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Mensaje</label>
                        <textarea class="form-control form-control-lg" type="text" name="mensaje" rows="3" placeholder="Hola equipo LabMoiras..." required></textarea>
                    </fieldset>
                </div>
                <div>
                    <button class="btn btn-lg btn-block btn-info" type="submit">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
