{% extends 'layout.html' %}
{% block body %} 

<div class="contenido container pt-4 pb-4">
    <div class="row">
        <div class="col-md-4 offset-md-4 h4">
            <form class="contenido" action="/modeloSIR" method="post">
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Población total</label>
                        <input class="form-control form-control-lg" type="number" name="N" placeholder="1000" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Número inicial de infectados</label>
                        <input class="form-control form-control-lg" type="number" name="I0" placeholder="1" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Número inicial de recuperados</label>
                        <input class="form-control form-control-lg" type="number" name="R0" placeholder="0" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Tasa de contacto (beta)</label>
                        <input class="form-control form-control-lg" type="number" step="any" name="beta" placeholder="0.2" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Tasa de recuperados (gamma)</label>
                        <input class="form-control form-control-lg" type="number" step="any" name="gamma" placeholder="0.1 (un recuperado cada 10 días)" required>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="control-label">Número de días</label>
                        <input class="form-control form-control-lg" type="number" name="dia" placeholder="160" required>
                    </fieldset>
                </div>
                <div>
                    <button class="btn btn-lg btn-block btn-info" type="submit">Calcular</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
