{% extends 'layout.html' %}
{% block body %}

<div class="container pt-4"> 
    <div class="row">
        <div class="col-md-12 pt-4 pb-4">
            <h3 class="text-center">
                Santa Marta
                <small class="text-muted">COVID-19</small>
            </h3>
            <p class="text-center">
                Información tomada de: <a href="https://www.datos.gov.co/widgets/gt2j-8ykr" target="_blank" rel="noopener noreferrer">www.datos.gov.co</a><br>
                Fecha de actualización: <em class="text-success">{{ fecha_corte.0 }}</em>
            </p>
        </div>
        <div class="col-md-4 pt-4">
            <h4>Resumen casos positivos</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Último día de registro:
                    <span class="badge badge-primary badge-pill">{{ positivos_dia.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Casos totales:
                    <span class="badge badge-primary badge-pill">{{ positivos_casos.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nuevos casos:
                    <span class="badge badge-primary badge-pill">{{ positivos_registros.0 }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4 pt-4">
            <h4>Resumen recuperados</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Último día de registro:
                    <span class="badge badge-success badge-pill">{{ recuperados_dia.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Recuperados totales:
                    <span class="badge badge-success badge-pill">{{ recuperados_casos.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nuevos recuperados:
                    <span class="badge badge-success badge-pill">{{ recuperados_registros.0 }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4 pt-4">
            <h4>Resumen fallecidos</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Último día de registro:
                    <span class="badge badge-danger badge-pill">{{ fallecidos_dia.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Fallecidos totales:
                    <span class="badge badge-danger badge-pill">{{ fallecidos_casos.0 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nuevos fallecidos:
                    <span class="badge badge-danger badge-pill">{{ fallecidos_registros.0 }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt-4">
        <div class="contenido col-md-2" style="text-align:center;">
            <h4 class="text-center">Casos por género</h4>
            <table class="table table-hover text-center col-md-2" style="margin: 0 auto;">
                <tr>
                    <th>
                        <img src="{{ url_for('static', filename='img/mujer.svg') }}" alt="Image" class="img-fluid" width="100" height="100" />
                    </th>
                    <th>
                        <img src="{{ url_for('static', filename='img/hombre.svg') }}" alt="Image" class="img-fluid" width="100" height="100" />
                    </th>
                </tr>
                <tr>
                    <td>{{ sologenero.0 }}</td>
                    <td>{{ sologenero.1 }}</td>
                </tr>
                <tr>
                    <td>{{ "%.2f"|format(sologenero.2) }}%</td>
                    <td>{{ "%.2f"|format(sologenero.3) }}%</td>
                </tr>
            </table>
        </div>
        <div class="contenido col-md-5">
            <h4 class="text-center">Representación porcentual (%)</h4>
            <canvas id="tortaPorcentaje" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
        </div>
        <div class="contenido col-md-5">
            <h4 class="text-center">Representación absoluta</h4>
            <canvas id="barAbsoluto" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
        </div>
    </div>
    <div class="row  pt-4">
        <div class="contenido col-md-4">
            <h4 class="text-center">Casos positivos</h4>
            <canvas id="casospositivos" style="display: block; width: 540px; height: 270px;" width="600" height="540"></canvas>
        </div>
        <div class="contenido col-md-4">
            <h4 class="text-center">Recuperados</h4>
            <canvas id="recuperados" style="display: block; width: 540px; height: 270px;" width="600" height="540"></canvas>
        </div>
        <div class="contenido col-md-4">
            <h4 class="text-center">Fallecidos</h4>
            <canvas id="fallecidos" style="display: block; width: 540px; height: 270px;" width="600" height="540"></canvas>
        </div>
    </div>
	<div class="row">
		<div class="col-12">
			<h4 class="text-center"><a href="/plot"><em>Ver gráficas independientes</em></a></h4>
		</div>
	</div>
    <div class="row pt-4">
        <div class="contenido col-md-6">
            <h4 class="text-center">Representación por edades y género</h4>
            <canvas id="edadesFM" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
        </div>
        <div class="contenido col-md-6">
            <h4 class="text-center">Representación porcentual por edades</h4>
            <canvas id="totalgenero" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
        </div>
    </div>    
    <div class="row pt-4">
        <div class="contenido col-md-10 offset-md-1">
            <h4 class="text-center">Tasa de reproducción efectiva: Rt</h4>
            <p class="text-center"><a href="#rt"><em>Ver referencias</em></a></p>
            <canvas id="R_efectivo" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
            <div class="contenido pt-4" id="rt">
                <p class="text-justify h5"><strong>Referencias:</strong></p>
                <ul class="list">
                    <li><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0002185" target="_blank" rel="noopener noreferrer"><strong>Real Time Bayesian Estimation of the Epidemic Potential of Emerging Infectious Diseases</strong></a></li>
                    <li><a href="https://rt.live/" target="_blank" rel="noopener noreferrer"><strong>Rt COVID-19</strong></a></li>
                </ul>               
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-12 contenido">
            <h3>Importante:</h3>
            <p class="lead"><strong>LabMoiras</strong> extrae los datos del COVID-19 de la ciudad de Santa Marta desde el repositorio oficial del Gobierno Nacional.</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-4">
            <p><strong>Datos nacionales oficiales:</strong></p>
            <p class="lead">
                    <a class="btn btn-info btn-lg" href="https://www.datos.gov.co/widgets/gt2j-8ykr" target="_blank" rel="noopener noreferrer" role="button">Consultar</a>
                    <a class="btn btn-warning btn-lg" href="https://www.datos.gov.co/api/views/gt2j-8ykr/rows.csv?accessType=DOWNLOAD" target="_blank" rel="noopener noreferrer" role="button">Descargar</a>
            </p>
        </div>
        <div class="col-md-4 offset-md-2 pt-4">
            <p><strong>Datos de la ciudad de Santa Marta:</strong></p>
            <p class="lead">
                <a class="btn btn-success btn-lg btn-block" href="/enviarDatos" role="button">Solicitar</a>
            </p>
        </div>
    </div>
</div>

<!-- Torta Porcentaje -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = true;            

    new Chart(document.getElementById("tortaPorcentaje"), {
        type: 'pie',
        data: {
            labels: ["Activos", "Recuperados", "Fallecidos"],
            datasets: [{
                label: "COVID-19 Santa Marta",
                backgroundColor: ["#7293cb", "#84ba5b","#d35e60"],
                data: [{{ positivos_casos.0 - recuperados_casos.0 - fallecidos_casos.0 }},{{ recuperados_casos.0 }},{{ fallecidos_casos.0 }}]
            }]
        },
        options: {
            title: {
                display: false,
                text: 'Resumen COVID-19 Santa Marta'
            },
            legend: {
                position: 'top',
            },
            plugins:{
                labels: {
                    render: 'percentage',
                    fontColor: ['black', 'black', 'black'],
                    precision: 2,
                    arc: false,
                    position: 'outside'
                }
            }
        }
    });
</script>

<!-- Bar Absoluto -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;        

    new Chart(document.getElementById("barAbsoluto"), {
        type: 'bar',
        data: {
            labels: ["Casos positivos", "Activos", "Recuperados", "Fallecidos"],
            datasets: [{
                label: "Cantidad de personas",
                backgroundColor: ["#e1974c", "#7293cb", "#84ba5b","#d35e60"],
                data: [{{ positivos_casos.0 }}, {{ positivos_casos.0 - recuperados_casos.0 - fallecidos_casos.0 }},{{ recuperados_casos.0 }},{{ fallecidos_casos.0 }}]
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: false,
                text: 'Resumen COVID-19 Santa Marta'
            },
            plugins:{
                labels: {
                    showZero: false,
                    render: 'value'
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'Categoria'
                    },
                    gridLines : {
                        display : false
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Cantidad de personas'
                    }
                }]
            },
        }
    });
</script>

<!-- R efectivo -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;

    var chartData = {
        labels: [{% for dato in r_efectivo %}
                    "{{ dato.0 }}",
                 {% endfor %}],
        datasets: [{
            label: 'Rt',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(204,37,41,0.2)",
            borderColor : "rgba(204,37,41,0.2)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBorderWidth: 2,
            pointRadius: 2,
            pointHitRadius: 10,            
            data: [{% for dato in r_efectivo %}
                        {{ dato.1 }},
                    {% endfor %}],
        }, {
            label: 'Rt bajo',
            fill: '+1',
            lineTension: 0.1,
            backgroundColor: "rgba(149, 165, 166, 0.1)",
            borderColor: "rgba(149, 165, 166, 0.1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderColor: "rgba(149, 165, 166, 0.1)",
            pointBackgroundColor: "rgba(149, 165, 166, 0.1)",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(44, 62, 80, 1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 0.5,
            pointHitRadius: 10,
            data: [{% for dato in r_efectivo %}
                        {{ dato.2 }},
                    {% endfor %}],
        }, {
            label: 'Rt alto',
            fill: '-1',
            lineTension: 0.1,
            backgroundColor: "rgba(149, 165, 166, 0.1)",
            borderColor: "rgba(149, 165, 166, 0.1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderColor: "rgba(149, 165, 166, 0.1)",
            pointBackgroundColor: "rgba(149, 165, 166, 0.1)",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(44, 62, 80, 1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 0.5,
            pointHitRadius: 10,
            data: [{% for dato in r_efectivo %}
                        {{ dato.3 }},
                    {% endfor %}],
        }]
    };

    var ctx = document.getElementById("R_efectivo").getContext("2d");

    var R_efectivo = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            responsive: true,
            legend: {
                labels: {
                    usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha'
                    },
                    gridLines : {
                        display : false
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Rt'
                    },
                    gridLines : {
                        drawBorder: false,
                        color: ['silver', 'silver', 'silver', 'silver', 'black',  'silver', 'silver']
                    },
                    ticks: {
                        min: 0,
                        max: 3
                    }
                }]
            },
        },
        plugins : [{
        beforeDraw: function(c) {
                var data = c.data.datasets[0].data;
                
                for (let i in data) {
                    let line = c.data.datasets[0]._meta['2'].data[i]._model;
                    if (data[i] > 1) {
                        line.backgroundColor = "rgba(211,94,96,1)";
                        line.borderColor = "rgba(204,37,41,1)";
                        line.pointBorderColor = "rgba(211,37,41,1)";
                        line.pointBackgroundColor = "#fff";
                        line.pointHoverBackgroundColor = "rgba(44, 62, 80, 1)";
                        line.pointHoverBorderColor = "rgba(220,220,220,1)";
                    } else {
                        line.backgroundColor = "rgba(132,186,91,1)";
                        line.borderColor = "rgba(62,150,81,1)";
                        line.pointBorderColor = "rgba(62,150,81,1)";
                        line.pointBackgroundColor = "#fff";
                        line.pointHoverBackgroundColor = "rgba(44, 62, 80, 1)";
                        line.pointHoverBorderColor = "rgba(220,220,220,1)";
                    }
                }
            }
        }]
    });        
</script>

<!-- por Edades y Genero -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = true;

    var horizontalBarChartData = {
        labels: [{% for dato in poredadgenero %}
                    "{{ dato.0 }}",
                {% endfor %}],
        datasets: [{
            label: 'Femenino',
            backgroundColor: 'rgba(255, 166, 166, 0.95)',
            borderColor: 'rgba(255, 166, 166, 1)',
            borderWidth: 1,
            data: [{% for dato in poredadgenero %}
                     {{ dato.3 }},
                  {% endfor %}]
        }, {
            label: 'Masculino',
            backgroundColor: 'rgba(180, 199, 220, 0.95)',
            borderColor: 'rgba(180, 199, 220, 1)',
            data: [{% for dato in poredadgenero %}
                     {{ dato.4 }},
                  {% endfor %}]
        }]
    };

    var ctx = document.getElementById('edadesFM').getContext('2d');
    var edades_genero = new Chart(ctx, {
        type: 'horizontalBar',
        data: horizontalBarChartData,
        options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
                rectangle: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            legend: {
                position: 'top',
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Número de personas contagiadas'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Rango de edades (años)'
                    },
                    gridLines : {
                            display : false
                        }
                }]
            }
        }
    });
</script>

<!-- Total por Edades -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = true;

    var dona = {
        labels: [{% for dato in poredadgenero %}
                    "{{ dato.0 }} años",
                 {% endfor %}],
        datasets: [{
            label: 'Personas',
            backgroundColor: ['rgba(94, 185, 30, 0.60)',
                              'rgba(6, 154, 46, 0.60)',
                              'rgba(22, 130, 83, 0.60)',
                              'rgba(52, 101, 164, 0.60)',
                              'rgba(91, 39, 125, 0.60)',
                              'rgba(120, 3, 115, 0.60)',
                              'rgba(167, 7, 75, 0.60)',
                              'rgba(241, 13, 12, 0.60)',
                              'rgba(237, 76, 5, 0.60)',
                              'rgba(234, 117, 0, 0.60)',
                              'rgba(232, 162, 2, 0.60)',
            ],
            borderColor: 'rgba(255, 255, 255, 1)',
            borderWidth: 1,
            data: [{% for dato in poredadgenero %}
                     {{ dato.1 }},
                   {% endfor %}]
        }]
    };

    var ctx = document.getElementById('totalgenero').getContext('2d');
    var edades_genero = new Chart(ctx, {
        type: 'doughnut',
        data: dona,
        options: {
            elements: {
                rectangle: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            legend: {
                position: 'left',
            },
            plugins:{
                labels: {
                    render: 'percentage',
                    fontColor: ['white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white'],
                    precision: 2,
                    arc: false,
                    position: 'inside'
                }
            }
        }
    });    
</script>

<!-- Casos positivos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = true;

	var chartData = {
		labels : [{% for dato in positivos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Acumulados',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(128,133,133,0.2)",
			borderColor: "rgba(83,81,84,0.5)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(83,81,84,0.5)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(83,81,84,0.5)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in positivos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-1',
		}, {
			label: 'Diarios',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(114,147,203,0.2)",
			borderColor: "rgba(57,106,177,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(57,106,177,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(57,106,177,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in positivos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-2'
		}]
    }
        
	var ctx = document.getElementById("casospositivos").getContext("2d");

	var casospositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos acumulados'
                    },
					position: 'left',
					id: 'y-axis-1',
                }, {
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos diarios'
                    },
					position: 'right',
					id: 'y-axis-2',
					gridLines: {
						drawOnChartArea: false,
					},
				}]
            },
        }
	});
</script>

<!-- Recuperados -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = true;

	var chartData = {
		labels : [{% for dato in recuperados %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Acumulados',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(128,133,133,0.2)",
			borderColor: "rgba(83,81,84,0.5)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(83,81,84,0.5)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(83,81,84,0.5)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in recuperados %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-1',
		}, {
			label: 'Diarios',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(132,186,91,0.2)",
			borderColor: "rgba(62,150,81,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(62,150,81,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(62,150,81,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in recuperados %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-2'
		}]
    }
        
	var ctx = document.getElementById("recuperados").getContext("2d");

	var recuperados = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos acumulados'
                    },
					position: 'left',
					id: 'y-axis-1',
                }, {
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos diarios'
                    },
					position: 'right',
					id: 'y-axis-2',
					gridLines: {
						drawOnChartArea: false,
					},
				}]
            },
        }
	});
</script>

<!-- Fallecidos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = true;


	var chartData = {
		labels : [{% for dato in fallecidos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Acumulados',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(128,133,133,0.2)",
			borderColor: "rgba(83,81,84,0.75)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(83,81,84,0.5)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(83,81,84,0.5)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in fallecidos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-1',
		}, {
			label: 'Diarios',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(211,94,96,0.2)",
			borderColor: "rgba(204,37,41,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(204,37,41,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(204,37,41,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in fallecidos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false,
			yAxisID: 'y-axis-2'
		}]
    }
        
	var ctx = document.getElementById("fallecidos").getContext("2d");

	var fallecidos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos acumulados'
                    },
					position: 'left',
					id: 'y-axis-1',
                }, {
					type: 'linear',
					display: true,
					scaleLabel: {
                        display: true,
                        labelString: 'Casos diarios'
                    },
					position: 'right',
					id: 'y-axis-2',
					gridLines: {
						drawOnChartArea: false,
					},
				}]
            },
        }
	});
</script>


{% endblock %}
