<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="LabMoiras es un laboratorio de estimación de escenarios epidemiológicos en la nube que se basa en sistemas de múltiples partículas interactuantes. Por medio de complejos y precisos cálculos tomados de la termodinámica y la mecánica cuántica capas de emular la dinámica poblacional de Santa Marta y predecir situaciones de contagio, para que los expertos y directivos de la ciudad puedan tomar decisiones antes de que sucedan dichas situaciones.">
        <meta name="keywords" content="labmoiras, reporte, COVID-19, coronavirus, sars-cov-2, ciudad Santa Marta, Santa Marta - Magdalena, Santa Marta - Colombia, Santa Marta">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

        <!-- Mi Estilo -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- ChartJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
                
        <!-- Titulo -->                
        <title>LabMoiras</title>
    </head>
    <body>
        <header class="bg-primary">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary container justify-content-between">
                <a class="navbar-brand" href="/">LabMoiras</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">¿Quiénes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/plot">Gráficas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tabla de Datos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/tablaPositivos">Casos Positivos</a>
                                <a class="dropdown-item" href="/tablaRecuperados">Recuperados</a>
                                <a class="dropdown-item" href="/tablaFallecidos">Fallecidos</a>
                                <a class="dropdown-item" href="/tablaEdadesGenero">Edad y genero</a>                                
                                <a class="dropdown-item" href="/r_efectivo">Tasa de reproducción efectiva</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/modeloSIR">Modelo SIR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/enviarDatos">Solicitar datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="contenido pb-4">
            {% block body %}
            {% endblock %}
        </div>

        <footer id="pie" class="contenido">
            <div class="container-fluid bg-light pb-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 pt-4 pb-4">
                            <div class="col-md-12 text-center">
                                <a href="/"><img src="{{ url_for('static', filename='img/logotipo.svg') }}" alt="Image" class="img-fluid" width="90%" height="90%" /></a>
                            </div>
                        </div>
                        <div class="col-md-4 pt-4">
                            <div class="col-md-12">
                                <h4 class="text-primary"><strong>Grupos de Investigación</strong></h4>
                                <ul class="list-unstyled">
                                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002685" target="_blank" rel="noopener noreferrer">GIEEP</a></li>
                                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002653" target="_blank" rel="noopener noreferrer">CMT</a></li>
                                    <li><a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002680" target="_blank" rel="noopener noreferrer">MAGMA Ingeniería</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 pt-4">
                            <div class="col-md-12">
                                <h4 class="text-primary"><strong>Enlaces rápidos</strong></h4>
                                <ul class="list-unstyled">
                                    <li><a href="/">Inicio</a></li>
                                    <li><a href="/plot">Ver gráficas</a></li>
                                    <li><a href="/enviarDatos">Solicitar datos</a></li>
                                    <!--<li><a href="/tablaPositivos">Tabla de Casos Positivos</a></li>
                                    <li><a href="/tablaRecuperados">Tabla de Recuperados</a></li>
                                    <li><a href="/tablaFallecidos">Tabla de Fallecidos</a></li>
                                    <li><a href="/tablaEdadesGenero">Tabla de edad y genero</a></li>
                                    <li><a href="/r_efectivo">Tabla de tasa de reproducción efectiva</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- Mathjax -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default"></script> -->
        <script>
            $(document).ready(function() {
                setInterval(function() {
                    var docHeight = $(window).height();
                    var footerHeight = $('#pie').height();
                    var footerTop = $('#pie').position().top + footerHeight;
                    var marginTop = (docHeight - footerTop + 10);

                    if (footerTop < docHeight)
                        $('#pie').css('margin-top', marginTop + 'px'); // padding of 30 on footer
                    else
                        $('#pie').css('margin-top', '0px');
                    // console.log("docheight: " + docHeight + "\n" + "footerheight: " + footerHeight + "\n" + "footertop: " + footerTop + "\n" + "new docheight: " + $(window).height() + "\n" + "margintop: " + marginTop);
                }, 250);
            });
        </script>
    </body>
</html>
