{% extends 'layout.html' %}
{% block body %}

<div class="container pt-4"> 
    <div class="row">
         <div class="col-md-12 pt-4 pb-4">
            <h3 class="text-center text-success"><strong>Valores acumulados</strong></h3>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Casos positivos</h4>
            <h6 class="text-center"><a href="/tablaPositivos"><em class="text-secondary">Ver tabla de datos</em></a></h6>
            <div class="card border-primary"> 
                <div class="card-body"> 
                    <canvas id="totalesCasosPositivos" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="PT" class="btn btn-sm btn-outline-primary">Ampliar</label>
                <input id="PT" type="submit" name="categoria" value="Ampliar PT" />
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Recuperados</h4>
            <h6 class="text-center"><a href="/tablaRecuperados"><em class="text-center text-secondary">Ver tabla de datos</em></a></h6>
            <div class="card border-success"> 
                <div class="card-body"> 
                    <canvas id="recuperadosTotales" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="RT" class="btn btn-sm btn-outline-success">Ampliar</label>
                <input id="RT" type="submit" name="categoria" value="Ampliar RT" />
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Fallecidos</h4>
            <h6 class="text-center"><a href="/tablaFallecidos"><em class="text-center text-secondary">Ver tabla de datos</em></a></h6>
            <div class="card border-danger"> 
                <div class="card-body"> 
                    <canvas id="fallecidosTotales" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="FT" class="btn btn-sm btn-outline-danger">Ampliar</label>
                <input id="FT" type="submit" name="categoria" value="Ampliar FT" />
            </form>
        </div>
    </div>
    <div class="row contenido">
         <div class="col-md-12 pt-4 pb-4">
            <h3 class="text-center text-success"><strong>Nuevos registros</strong></h3>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Casos positivos</h4>
            <h6 class="text-center"><a href="/tablaPositivos"><em class="text-secondary">Ver tabla de datos</em></a></h6> 
            <div class="card border-primary"> 
                <div class="card-body"> 
                    <canvas id="registrosCasosPositivos" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="PD" class="btn btn-sm btn-outline-primary">Ampliar</label>
                <input id="PD" type="submit" name="categoria" value="Ampliar PD" />
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Recuperados</h4>
            <h6 class="text-center"><a href="/tablaRecuperados"><em class="text-center text-secondary">Ver tabla de datos</em></a></h6> 
            <div class="card border-success"> 
                <div class="card-body"> 
                    <canvas id="recuperadosRegistros" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="RD" class="btn btn-sm btn-outline-success">Ampliar</label>
                <input id="RD" type="submit" name="categoria" value="Ampliar RD" />
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Fallecidos</h4>
            <h6 class="text-center"><a href="/tablaFallecidos"><em class="text-center text-secondary">Ver tabla de datos</em></a></h6>
            <div class="card border-danger"> 
                <div class="card-body"> 
                    <canvas id="fallecidosRegistros" width="500" height="400"></canvas>
                </div> 
            </div> 
            <form class="formulario mb-3" action="/plot" method="post">
                <label for="FD" class="btn btn-sm btn-outline-danger">Ampliar</label>
                <input id="FD" type="submit" name="categoria" value="Ampliar FD" />
            </form>
        </div>
    </div>
</div>

<!-- Casos Positivos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in positivos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Positivos totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(114,147,203,0.2)",
			borderColor: "rgba(57,106,177,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(57,106,177,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(57,106,177,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in positivos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("totalesCasosPositivos").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Casos positivos acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in positivos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo caso',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(114,147,203,0.2)",
			borderColor: "rgba(57,106,177,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(57,106,177,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(57,106,177,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in positivos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("registrosCasosPositivos").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de notificación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Casos positivos'
                    }
                }]
            },
        }
	});
</script>

<!-- Recuperados -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in recuperados %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Recuperados totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(132,186,91,0.2)",
			borderColor: "rgba(62,150,81,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(62,150,81,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(62,150,81,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in recuperados %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("recuperadosTotales").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de recuperación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Recuperados acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in recuperados %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo recuperado',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(132,186,91,0.2)",
			borderColor: "rgba(62,150,81,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(62,150,81,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(62,150,81,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in recuperados %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("recuperadosRegistros").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de recuperación'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Recuperados'
                    }
                }]
            },
        }
	});
</script>

<!-- Fallecidos -->
<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in fallecidos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
		    label: 'Fallecidos totales',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(211,94,96,0.2)",
			borderColor: "rgba(204,37,41,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(204,37,41,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(204,37,41,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in fallecidos %}
					{{ dato.2 }},
				{% endfor %}],
			spanGaps: false
		}]
    }
        
	var ctx = document.getElementById("fallecidosTotales").getContext("2d");

	var casosPositivos = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de la muerte'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fallecidos acumulados'
                    }
                }]
            },
        }
	});
</script>

<script>
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.legend.display = false;

	var chartData = {
		labels : [{% for dato in fallecidos %}
			   "{{ dato.0 }}",
			  {% endfor %}],
		datasets : [{
			label: 'Nuevo fallecido',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(211,94,96,0.2)",
			borderColor: "rgba(204,37,41,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'mister',
			pointBorderColor: "rgba(204,37,41,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(204,37,41,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for dato in fallecidos %}
					{{ dato.1 }},
				{% endfor %}],
			spanGaps: false
		}],
	}

	var ctx = document.getElementById("fallecidosRegistros").getContext("2d");

	var registros = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            responsive: true,
                legend: {
                    labels: {
                        usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha de la muerte'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Fallecidos'
                    }
                }]
            },
        }
	});
</script>

{% endblock %}
