{% extends 'layout.html' %}
{% block body %}

<div class="container pt-4"> 
    <div class="row pt-4">
        <div class="contenido col-md-10 offset-md-1">
            <h4 class="text-center">Modelo SIR</h4>
            <canvas id="modelo_SIR" style="display: block; width: 540px; height: 270px;" width="540" height="270"></canvas>
        </div>
    </div>
</div>


<!-- Modelo SIR -->
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = true;

    var chartData = {
        labels: [{% for dato in t %}
                    "{{ dato }}",
                 {% endfor %}],
        datasets: [{
            label: 'Susceptibles',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(114,147,203,0.2)",
            borderColor: "rgba(57,106,177,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderColor: "rgba(57,106,177,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(57,106,177,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,           
            data: [{% for dato in S %}
                        {{ dato }},
                    {% endfor %}],
        }, {
            label: 'Infectados',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(211,94,96,0.2)",
            borderColor: "rgba(204,37,41,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderColor: "rgba(204,37,41,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(204,37,41,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for dato in I %}
                        {{ dato }},
                    {% endfor %}],
        }, {
            label: 'Recuperados',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(132,186,91,0.2)",
            borderColor: "rgba(62,150,81,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'mister',
            pointBorderColor: "rgba(62,150,81,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(62,150,81,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for dato in R %}
                        {{ dato }},
                    {% endfor %}],
        }]
    };

    var ctx = document.getElementById("modelo_SIR").getContext("2d");

    var modelo_SIR = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            responsive: true,
            legend: {
                labels: {
                    usePointStyle: false
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Día'
                    },
                    gridLines : {
                        display : false
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Personas / población total'
                    },
                }]
            },
        }
    });        
</script>


{% endblock %}
