{% extends 'layout.html' %}
{% block body %} 

<div class="container pt-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3 class="text-center pt-4 pb-4">Edad y genero de casos positivos</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Rango de edades</th>
                            <th scope="col">Femenino</th>
                            <th scope="col">Masculino</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in poredadgenero %}
                            <tr>
                                <td>{{ dato.0 }}</td>
                                <td>{{ dato.3 }}</td>
                                <td>{{ dato.4 }}</td>
                                <td>{{ dato.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
