{% extends 'layout.html' %}
{% block body %} 

<div class="container pt-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3 class="text-center pt-4 pb-4">{{ titulo }}</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th scope="col">{{ fecha }}</th>
                            <th scope="col">{{ registro }}</th>
                            <th scope="col">{{ total }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos %}
                            <tr>
                                <td>{{ dato.0 }}</td>
                                <td>{{ dato.1 }}</td>
                                <td>{{ dato.2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

